* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
/*   overflow: hidden; */
  background-color: #E1E2E1 !important;
}

/*
  Remove the following styles before
  sending to the device or simulator
*/

/*html,
body,
#root {
  height: 320px;
  width: 240px;
}

html,
body {
  background-color: #1c2022;
}

#softkey {
  top: 320px;
  bottom: auto !important;
  width: 240px;
}*/
